
<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">RESULTS!!!</h1>
    </div>
</div>

<div class="center" ng-controller="AnswerCtrl">
    <div class="topcoat-list__header center">{{connected}}</div>
    <h1>Answers</h1>
    <table>
        <tr>
            <td>
                test1
            </td>
            <td>
                test2
            </td>
        </tr>
        <tr>
            <td>
                test3
            </td>
            <td>
                test4
            </td>
        </tr>
    </table>

    <button class="topcoat-button--cta" ng-click="slidePage('/question')">Dismiss</button>
</div>
