<div class="section" ng-show="displayResults" ng-animate="'wave'">
    <h3>The results are in!</h3>
    <table class="basictable">
        <tr>{{game.question}}</tr>
        <tr>
            <th>Rank</th>
            <th>Answer</th>
            <th>Points</th>
        </tr>
        <tr ng-repeat="answer in game.answers">
            <td>{{answer.rank}}</td>
            <td>{{answer.content}}</td>
            <td>{{answer.points}}</td>
        </tr>
    </table>

    <button class="topcoat-button--cta" ng-click="dismissResults()">Dismiss</button>
</div>
