
<div class="header" ng-controller="HomeCtrl">

    <div class="backIconSection">
        <a ng-click="back()">
            <span class="topcoat-icon back-icon"></span>
        </a>
    </div>

    <div class="titleSection">
        <h2>Login</h2>
    </div>
</div>

<div class="section center" ng-controller="LoginCtrl">
    <form name="loginform" ng-submit="submit()">
        <br/>
        Username
        <br/>
        <input class="topcoat-text-input three-quarters" type="text" ng-model="data.username" placeholder="username" required/>
        <br/>
        <br/>
        Password
        <br/>
        <input class="pw1 topcoat-text-input three-quarters" type="password" ng-model="data.password" placeholder="password" required/>
        <br/>
        <br/>
        <button class="topcoat-button--cta">Login!</button>
        <br/>
        <br/>
    </form>
</div>

