<div class="modal-background" ng-click="hideModal()" ng-show="data.showModal"></div>
<div class="modal-content" ng-show="data.showModal">
    <h3>Welcome to The Feud!</h3>
    <p>The Feud is a non-stop massively-multiplayer survey game. Survey questions are asked every 25 seconds. Score points if your answer ranks in the top 5 results. That's it!</p>
    </br>
    </br>
    <div class="modalButton">
      <button class="topcoat-button--cta modalButton" ng-click="hideModal()">Got it!</button>
    </div>
</div>​