
<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">HAPPY FUN TIME!</h1>
    </div>
        <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div class="center" ng-controller="QuestionCtrl">

    <div class="section">
        <h3>{{game.question}}</h3>
        <div>
            {{progressBarMsg}}
            <div class='topcoat-progress-bar'>
                <span class='progress' style='width:{{progressBarVal}}% '></span>
            </div>
        </div>
    </div>

    <div class="section">
        <form name="answerform" ng-show="canSubmitAnswer" ng-submit="submitAnswer()">
            Answer
            <br/>
            <input class="topcoat-text-input three-quarters" type="text" ng-model="answer" required/>
            <br/>
            <br/>
            <button class="topcoat-button--cta">Submit Answer!</button>
        </form>

        <h3 ng-show="answerSubmitted">Answer Submitted!!!</h3>
        <h3 ng-show="transToAnswer">Time's up! Calculating Answers...</h3>
    </div>
<ng-include src="'partials/answerView.html'"></ng-include>

</div>
