
<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">HAPPY FUN TIME!</h1>
    </div>
</div>

<div class="center" ng-controller="QuestionCtrl">
    <div class="topcoat-list__header center">{{game.gameState}}</div>
    <h1>{{game.question}}</h1>

    <div>
        {{progressBarMsg}}
        <div class='topcoat-progress-bar'>
            <span class='progress' style='width:{{progressBarVal}}% '></span>
        </div>
    </div>

    <form name="answerform" ng-hide="answerSubmitted || inTransitionState" ng-submit="submitAnswer()">
        <br/>
        <br/>
        Answer
        <br/>
        <input class="topcoat-text-input three-quarters" type="text" ng-model="answer" required/>
        <br/>
        <br/>
        <button class="topcoat-button--cta">Subit Answer!</button>
    </form>
    <h1 ng-show="answerSubmitted">Answer Submitted!!!</h1>
    <h1 ng-show="inTransitionState">Time's up! Calculating Answers...</h1>
<ng-include src="'partials/answerView.html'"></ng-include>

</div>
