
<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">HAPPY FUN TIME!</h1>
    </div>
        <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/')">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div class="center" ng-controller="QuestionCtrl">
    <div
    ng-switch on="game.gameState"
    ng-animate="{enter: 'wave-enter', leave: 'wave-leave'}">

        <div class="section" ng-switch-when="question">
            <ng-include src="'partials/progressBar.html'"></ng-include>
            <h3>{{game.question}}</h3>
            <div ng-show="data.canSubmitAnswer">
                <form name="data.answerform" ng-submit="submitAnswer()">
                    Answer
                    <br/>
                    <input
                        class="topcoat-text-input three-quarters"
                        type="text" ng-model="data.answer" required/>
                    <br/>
                    <br/>
                    <button class="topcoat-button--cta">Submit Answer!</button>
                </form>

            </div>
            <h3 ng-show="data.answerSubmitted">Answer Submitted!!!</h3>
        </div>

        <div class="section" ng-switch-when="transition">
            <ng-include src="'partials/progressBar.html'"></ng-include>
            <h3>Time's up! Calculating Answers...</h3>
        </div>

        <div class="section" ng-switch-when="answer">
            <ng-include src="'partials/progressBar.html'"></ng-include>
            <h3>The results are in!</h3>
            <table class="basictable">
                <tr>{{game.question}}</tr>
                <tr>
                    <th>Rank</th>
                    <th>Answer</th>
                    <th>Popularity</th>
                    <th>Points Awarded</th>
                </tr>
                <tr ng-repeat="answer in game.answers">
                    <td>{{answer.rank}}</td>
                    <td>{{answer.content}}</td>
                    <td>{{answer.percent}}</td>
                    <td>{{answer.points}}</td>
                </tr>
            </table>
        </div>
    </div>
<!-- <ng-include src="'partials/answerView.html'"></ng-include> -->
</div>
